workflows/jd-scraper.json
{
  "name": "JD Scraper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jd-scraper",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "wh-jd-scraper-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-text-nonempty",
              "leftValue": "={{ $json.body.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.cloudflare.com/client/v4/accounts/\" + $env.CF_ACCOUNT_ID + \"/browser-rendering/content\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CF_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { url: $('Webhook').item.json.body.url, rejectResourceTypes: ['image', 'font'] } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Cloudflare Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-cf-success",
              "leftValue": "={{ $json.body.result !== undefined && $json.body.result.markdown !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "CF Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        420
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://r.jina.ai/\" + $('Webhook').item.json.body.url }}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Jina AI Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        540
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize output from all possible branches into { jd_raw, source }\n// This node receives items from three possible upstream nodes:\n//   1. Has Text? (true branch) \u2192 raw text from request body\n//   2. CF Success? (true branch) \u2192 Cloudflare markdown result\n//   3. Jina AI Fallback \u2192 plain-text markdown from Jina\n\nconst item = $input.first();\nconst data = item.json;\n\nlet jd_raw = '';\nlet source = 'manual';\n\n// Detect Cloudflare response: has a nested body.result.markdown\nif (data.body && data.body.result && data.body.result.markdown) {\n  jd_raw = data.body.result.markdown.trim();\n  source = 'cloudflare';\n}\n// Detect Jina response: the HTTP response body is plain text stored in `data` key by n8n\nelse if (typeof data.data === 'string' && data.data.trim().length > 0) {\n  jd_raw = data.data.trim();\n  source = 'jina';\n}\n// Detect manual text: passed directly from the webhook body.text field\nelse if (data.body && typeof data.body.text === 'string' && data.body.text.trim().length > 0) {\n  jd_raw = data.body.text.trim();\n  source = 'manual';\n}\n// Fallback: try raw string response from Jina (some n8n versions)\nelse if (typeof data === 'string' && data.trim().length > 0) {\n  jd_raw = data.trim();\n  source = 'jina';\n}\n\nreturn [{ json: { jd_raw, source } }];\n"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Normalize Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Text?": {
      "main": [
        [
          {
            "node": "Normalize Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cloudflare Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudflare Scrape": {
      "main": [
        [
          {
            "node": "CF Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CF Success?": {
      "main": [
        [
          {
            "node": "Normalize Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jina AI Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina AI Fallback": {
      "main": [
        [
          {
            "node": "Normalize Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-19T00:00:00.000Z",
  "versionId": "jd-scraper-v1",
  "id": 1,
  "active": true
}