workflows/main-orchestrator.json
{
  "name": "main-orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-gen",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "resume"
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "wh-main-orch-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-is-pdf",
              "leftValue": "={{ ($binary?.resume?.mimeType || $binary?.data?.mimeType || '').toLowerCase().includes('pdf') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000002",
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resume"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        720,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// TXT path: read the binary as UTF-8 text\nconst item = items[0];\nconst binaryKey = Object.keys(item.binary || {})[0] || 'resume';\nconst binaryData = item.binary[binaryKey];\n\nlet resumeText = '';\nif (binaryData && binaryData.data) {\n  resumeText = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n}\n\n// Pass through body fields so Prepare Inputs can read them\nconst body = item.json.body || {};\nreturn [{\n  json: {\n    text: resumeText,\n    body: body\n  }\n}];\n"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000004",
      "name": "Read TXT Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge extracted text with original form fields\n// items[0] comes from whichever branch ran (PDF extract or TXT read)\nconst item = items[0];\n\n// Text from the extraction/read step\nconst resumeText = item.json.text || item.json.body?.resume || '';\n\n// Pull form fields from the original webhook body\n// The webhook body is available via the node reference\nconst webhookBody = $('Webhook').item.json.body || {};\nconst jdUrl = webhookBody.jd_url || '';\nconst jdText = webhookBody.jd_text || '';\n\nreturn [{\n  json: {\n    resume_text: resumeText,\n    jd_url: jdUrl,\n    jd_text: jdText\n  }\n}];\n"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000005",
      "name": "Prepare Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/jd-scraper",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"{{ $json.jd_url }}\",\n  \"text\": \"{{ $json.jd_text }}\"\n}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000006",
      "name": "Call JD Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        180
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/resume-parser",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"resume_text\": \"{{ $('Prepare Inputs').item.json.resume_text }}\"\n}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000007",
      "name": "Call Resume Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge JD scraper and resume parser outputs for the AI tailoring engine\nconst jdResult = $('Call JD Scraper').item.json;\nconst resumeResult = $('Call Resume Parser').item.json;\n\n// jdResult is {jd_raw: '...', source: '...'} \u2014 extract the text string\nconst jdText = typeof jdResult.jd_raw === 'string' ? jdResult.jd_raw : JSON.stringify(jdResult.jd_raw || '');\n\nreturn [{\n  json: {\n    jd_raw: jdText,\n    resume_json: resumeResult\n  }\n}];\n"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000008",
      "name": "Merge for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ai-tailoring-engine",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resume_json: $json.resume_json, jd_raw: $json.jd_raw }) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000009",
      "name": "Call AI Tailoring Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1680,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/latex-generator",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: { tailored_resume: $json.tailored_resume } }) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000010",
      "name": "Call LaTeX Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1920,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Capture LaTeX Generator response and pass through all needed fields\nconst latexResponse = items[0].json || {};\nconst texSource = latexResponse.tex_source || '';\nconst pdfBase64 = latexResponse.pdf_base64 || null;\nconst compileError = latexResponse.compile_error || null;\n\n// Get ATS score and keywords from the AI Tailoring Engine output\nconst atsScore = $('Call AI Tailoring Engine').item.json.ats_score ?? null;\nconst matchedKeywords = $('Call AI Tailoring Engine').item.json.matched_keywords ?? [];\n\nreturn [{\n  json: {\n    tex_source: texSource,\n    pdf_base64: pdfBase64,\n    compile_error: compileError,\n    ats_score: atsScore,\n    matched_keywords: matchedKeywords\n  }\n}];\n"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000010b",
      "name": "Capture LaTeX Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/output-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pdf_base64: $json.pdf_base64 ?? null, tex_source: $json.tex_source ?? '', ats_score: $json.ats_score ?? null, matched_keywords: $json.matched_keywords ?? [], compile_error: $json.compile_error ?? null }) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000011",
      "name": "Call Output Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2160,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ pdf_base64: $json.pdf_base64 ?? null, tex_source: $json.tex_source ?? '', ats_score: $json.ats_score ?? null, matched_keywords: $json.matched_keywords ?? [], status: $json.status ?? 'error' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000012",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2400,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF?": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read TXT Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Prepare Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read TXT Binary": {
      "main": [
        [
          {
            "node": "Prepare Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Inputs": {
      "main": [
        [
          {
            "node": "Call JD Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call JD Scraper": {
      "main": [
        [
          {
            "node": "Call Resume Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Resume Parser": {
      "main": [
        [
          {
            "node": "Merge for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge for AI": {
      "main": [
        [
          {
            "node": "Call AI Tailoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Tailoring Engine": {
      "main": [
        [
          {
            "node": "Call LaTeX Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LaTeX Generator": {
      "main": [
        [
          {
            "node": "Capture LaTeX Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture LaTeX Response": {
      "main": [
        [
          {
            "node": "Call Output Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Output Handler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "main-orchestrator-workflow"
  },
  "pinData": {},
  "id": 6,
  "active": true
}