workflows/main-orchestrator.json
{
  "name": "main-orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-gen",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "resume"
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "wh-main-orch-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-is-pdf",
              "leftValue": "={{ ($binary?.resume?.mimeType || $binary?.data?.mimeType || '').toLowerCase().includes('pdf') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000002",
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resume"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        720,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Read .txt binary as UTF-8\nconst item      = items[0];\nconst binaryKey = Object.keys(item.binary || {})[0] || 'resume';\nconst binData   = item.binary[binaryKey];\nconst text      = binData?.data ? Buffer.from(binData.data, 'base64').toString('utf-8') : '';\nreturn [{ json: { text, body: item.json.body || {} } }];\n"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000004",
      "name": "Read TXT Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item       = items[0];\nconst resumeText = (item.json.text || item.json.body?.resume || '').trim();\n\nconst webhookBody = $('Webhook').item.json.body || {};\nconst jdUrl  = (webhookBody.jd_url  || '').trim();\nconst jdText = (webhookBody.jd_text || '').trim();\n\nif (!resumeText) throw new Error('No resume text could be extracted. Upload a valid PDF or TXT file.');\nif (!jdUrl && !jdText) throw new Error('Provide a job description URL (jd_url) or pasted text (jd_text).');\n\nreturn [{ json: { resume_text: resumeText, jd_url: jdUrl, jd_text: jdText } }];\n"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000005",
      "name": "Prepare Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/jd-scraper",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.jd_url, text: $json.jd_text }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000006",
      "name": "Call JD Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        180
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/resume-parser",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resume_text: $('Prepare Inputs').item.json.resume_text }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000007",
      "name": "Call Resume Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        420
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combineAll",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000008a",
      "name": "Merge JD + Parser",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// combineAll merges both items into one. Fields don't clash:\n// JD scraper:     { jd_raw, source }\n// Resume parser:  { contact, summary, skills, experience, projects, education }\nconst item = items[0].json;\n\nconst jdRaw = typeof item.jd_raw === 'string'\n  ? item.jd_raw\n  : JSON.stringify(item.jd_raw || '');\n\nif (!jdRaw.trim()) throw new Error('JD Scraper returned empty content. Check URL or paste JD text.');\n\nconst resumeJson = {\n  contact:    item.contact    || {},\n  summary:    item.summary    || '',\n  skills:     item.skills     || [],\n  experience: item.experience || [],\n  projects:   item.projects   || [],\n  education:  item.education  || []\n};\n\nif (!resumeJson.contact?.name && !resumeJson.experience?.length) {\n  throw new Error('Resume Parser returned empty data. Check that the uploaded file contains readable text.');\n}\n\nreturn [{ json: { jd_raw: jdRaw, resume_json: resumeJson } }];\n"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000008",
      "name": "Merge for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/ai-tailoring-engine",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resume_json: $json.resume_json, jd_raw: $json.jd_raw }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000009",
      "name": "Call AI Tailoring Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1920,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/latex-generator",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tailored_resume: $json.tailored_resume }) }}",
        "options": {
          "timeout": 150000
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000010",
      "name": "Call LaTeX Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2160,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/output-handler",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  pdf_base64:       $json.pdf_base64       ?? null,\n  tex_source:       $json.tex_source       ?? '',\n  ats_score:        $('Call AI Tailoring Engine').item.json.ats_score        ?? null,\n  matched_keywords: $('Call AI Tailoring Engine').item.json.matched_keywords ?? [],\n  compile_error:    $json.compile_error    ?? null\n}) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000011",
      "name": "Call Output Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  pdf_base64:       $json.pdf_base64       ?? null,\n  tex_source:       $json.tex_source       ?? '',\n  ats_score:        $json.ats_score        ?? null,\n  matched_keywords: $json.matched_keywords ?? [],\n  compile_error:    $json.compile_error    ?? null,\n  generated_at:     $json.generated_at     ?? new Date().toISOString(),\n  status:           $json.status           ?? 'error'\n}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000012",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2640,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF?": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read TXT Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Prepare Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read TXT Binary": {
      "main": [
        [
          {
            "node": "Prepare Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Inputs": {
      "main": [
        [
          {
            "node": "Call JD Scraper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Resume Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call JD Scraper": {
      "main": [
        [
          {
            "node": "Merge JD + Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Resume Parser": {
      "main": [
        [
          {
            "node": "Merge JD + Parser",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge JD + Parser": {
      "main": [
        [
          {
            "node": "Merge for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge for AI": {
      "main": [
        [
          {
            "node": "Call AI Tailoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Tailoring Engine": {
      "main": [
        [
          {
            "node": "Call LaTeX Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LaTeX Generator": {
      "main": [
        [
          {
            "node": "Call Output Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Output Handler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "main-orchestrator-workflow"
  },
  "pinData": {},
  "id": 6,
  "active": true
}